.button:hover{
    background-color:red;
}
.nav-button, .nav-header{
    background-color:#e6f9ff;
    color:inherit;
    float:left;
    width:100%;
    padding:10px;
    display:inline-block;
    text-decoration:none;
    font-family:verdana;
    transition:0.3s;
}
.nav-button:hover{
    background-color:#426ef4;
}

.nav-header{
    font-size:20px;
    font-weight:bold;
    text-overflow: ellipsis;
}
.top-nav-bar{
    padding:40px;
    background-color:#aaa;
}
